/CRM/
/samples/
/tobedeleted/Results/
# pycharm metadata
/.idea/

# Compiled python modules
/__pycache__/

# Results
/tobedeleted/Results

# trash
/tobedeleted
/headpose_estimation/meta_motion/.metawear/
